<h1>Gyms Home Page</h1>
<!-- List of gyms in a div? Style into squares with image? -->

<ul>
  <% @gyms.each do |gym| %>
    <li><%= link_to "#{gym.name}", gym_path(gym) %></li>
  <% end %>
</ul>


<%= form_tag(gyms_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search Gyms" %>
  <%= submit_tag "Search", :name => nil %>
<% end %>
