<div class="title">
  <h1>Welcome to Gym Review Site!</h1>
  <p>A place to rate, review, and view your favorite local gyms, fitness centers, and personal training studios.</p>
</div>

<!-- List of gyms in a div? Style into squares with image? -->

<div class="list">
  <h3>Gym List</h3>
  <ul>
    <% @gyms.each do |gym| %>
    <li><%= link_to "#{gym.name}", gym_path(gym) %></li>
    <% end %>
  </ul>
</div>

<div class="img-responsive">
  <%= image_tag("gym-main.png") %>
</div>
