/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
@import '_settings.scss';


body {
  background-color: darkgrey;

}

form {
  margin: 30px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Viga', sans-serif;
}

h2 {
  margin-bottom: 30px;
}

a {
  color: #fff;
}
input {
  margin-bottom: 40px;
}

label {
  color: #000;
  font-size: 20px;
}

.page {
  width: 80%;
  margin: auto;
}

.notice {
  margin-left: 20px;
  margin-top: 5px;
  color: green;
}

.alert {
  margin-left: 20px;
  margin-top: 5px;
  color: red;
}

.menu .button {
  display: inline-block;
  color: #fff;
  margin: 5px;
  font-size: 1em;
  border-radius: 10%;
}


.menu.vertical li {
  text-align: center;
  margin: 20px
}

.button a {
  color: #fff;
}


.index {
  margin: 20px;

}


#sign-up {
  text-align: center;

  @media screen and (min-width: 39.9375em) {
    h2 {
      font-size: 50px;
    }

    h4 {
      font-size: 20px;
    }
  }

}

#new_gym {
  width: 90%;
  font-size: 20px;
  // background-color: $form-background-color;
  label {
    font-size: 30px;
    text-decoration: none;

  }
  abbr {
    display: none;
  }
}

#new_user {
  margin: 0 auto;
  margin-top: 50px;
  width: 100%;
  background-color: $form-background-color;
  border-radius: 20px;
  padding: 50px;

  @media screen and (min-width: 1100px) {
    width: 60%;
  }
}

#search-form {
  width: 50%;
  display: inline;

}




/************* NAVIGATION *************/


/************* END SECTION *************/


/************* HOME PAGE *************/


/************* END SECTION *************/

/************* SIGN UP *************/


/************* END SECTION *************/


/************* SIGN IN *************/


/************* END SECTION *************/
